/* 90s Retro Styling */
body {
  background-color: #f1f1f1;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #333;
  text-align: center;
}

header {
  background-color: #ff2f00;
  padding: 30px;
  color: white;
  border-bottom: 3px solid #000000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  background-color: #f2ff00;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: #00ff00;
}

h1 {
  font-size: 48px;
  padding-bottom: 15px;
  margin: 0;
}

main {
  padding: 40px;
  background-color: #f2ff00;
  border: 2px solid #000000;
}

footer {
  background-color: #000000;
  padding: 0.5px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}